@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* نوع الخط */
 font-family: 'Poppins', sans-serif;
  /* منع نسخ المحتوى */ 
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -khtml-user-select:none;
 -ms-user-select:none;
 -moz-user-select:none;}
body{background: black;}
#buttons{
	display: flex;
	justify-content: center;
	align-items: center ;
	min-height: 60vh;
	flex-direction: column;
	gap: 20px;}
button{
				border: none;
				padding: 10px 20px;
				width: 100px;
				transition: 0.5s;
				position: relative;
				background: #444;
				border-radius: 25px;
				text-transform: uppercase;
				text-align: center;}
button:hover{
				letter-spacing: 3px;
				width: 150px;
				background: var(--cv);
				box-shadow: 0 0 35px var(--cv);
				color: var(--cv);}
button:before{
				content: "";
				position: absolute;
				inset: 2px;
				background-color: #27282C;
			border-radius: 25px;}

span{
    position: relative;
				z-index: 1;
				color: white;
				display: flex;
				justify-content: center;
	   align-items: center ;}
button:hover span{color: var(--cv);}
button i{
				position: absolute;
				inset:0;
				display: block;}
	i::before{
    content: "";
				position: absolute;
				left: 80%;
				top: -3.5px;
				border: solid 2px var(--cv);
				width: 10px;
				height: 5px;
				background: #444;
				transition: .5s;}
button:hover i:before{
				width: 20px;
				left: 5%;}
i::after{
   content: "";
				position: absolute;
				right: 80%;
				bottom: -10%;
				border: solid 2px var(--cv) ;
				width: 10px;
				height: 5px;
				background: #444;
				transition: .5s;}
button:hover i:after{
				width: 20px;
				right: 5%;}
.p{ direction: rtl;
				background:linear-gradient(to right,#6eff3e,#1e9bff);
   -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align:center ;}
    
    /* النسب المؤية القسم العلوي */
.container{
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 2%;
				gap: 30px;
				width: 100%;}
.div{
				background: black;
				width: 85px;
				height: 85px;
				border-radius: 50%;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;}
.div2{
		background:linear-gradient(to  right,#6eff3e,#1e9bff);
				width: 100px;
				height: 50px;
				animation: spin 3000s linear;}
				/* تكرار الدوران  */
    @keyframes spin{
    to {transform:rotate(10000turn) ;}}
.div3{
				border-radius: 50%;
				background: black;
				width: 75px;
				height: 75px;
				position: absolute;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;}
.p-100{
				background:linear-gradient(to left,#6eff3e,#1e9bff);
   -webkit-background-clip: text;
    color: transparent;
				font-weight: bold;
				text-transform: uppercase;}
.p-html,.p-css{
				font-weight: bold;
				text-transform: uppercase;}
.my-name{
				background:linear-gradient(to left,#6eff3e,#1e9bff);
				direction: ltr;
   -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    position: relative;
    top: 160px;
    margin-bottom: 30%;
    }
.div-name{				
    display: flex;
    justify-content: center;}

